.recipe {
    border-radius: 20px;
    height: 400px;
    cursor: pointer;
    &:hover {
        img {
            transform: scale(1.1);
        }
        .recipeTitle {
            color: var(--primary);
        }
    }
}

.imageContainer {
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    img {
        width: 100%;
        transition: transform 1s;
    }
}

.recipeTitle {
    height: 100px;
    transition: color 0.2s;
    border: 1px solid var(--gray-2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}